body {
    font-family: Arial;
}

.centered {
    text-align: center;
}

.shape-container {
    display: flex;
    justify-content: space-evenly;
}

svg {
    width: 250px;
    height: 250px;
}

text {
    transform: translate(125px, 125px);
}

.circle {
    r: 100px;
    cx: 125px;
    cy: 125px;
}

#c1 {
    fill: #9bc6df;
    stroke: black;
    stroke-width: 5px;
}

#c2 {
    fill: #a8da7c;
}

#c3 {
    fill: #c3a8d1;
    stroke: black;
    stroke-width: 5px;
    opacity: 100%;
}